<!DOCTYPE html>
<html lang="pt-br"> <!-- adicionar -->
<head>
    <meta charset="UTF-8"> <!-- mudar -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon"><!-- adicionar -->

    <title>Site com Flask</title>
</head>
<body>
    <header>

    </header>
    <section id="destaque"> <!-- adicionar -->
        <h1>Curso Técnico de Ciência de Dados</h1>
        <h2>Escola Estadual Ângelo Mendes de Almeida</h2>
        <h2>Turma 2°B 2024</h2>
        <h3>Prof. Parisotto</h3>
    </section>
    <main> <!-- continua daqui -->
        <section id="apresenta">
            <img id="logo" src="../static/img/favicon.png" alt="Logo Ciência de dados">

            <h1>Desenvolvido com o micro-framework FLASK no Python</h1>

            <p>O Flask é um micro-framework que permite criar sites, aplicativos web e APIs de forma rápida e eficiente, com a possibilidade de adicionar funcionalidades gradualmente, como suporte a banco de dados, autenticação, templates entre outras coisas mais.</p>

            <p>Empresas como Zillow, Patreon, Reddit, Trivago, Pinterest e várias outras usam Flask em seus sites. Além disso, diversas empresas de ponta usam Flask em sua pilha, como Samsung, Netflix, Uber, Airbnb e outras.</p>

            <p>Neste curso, os alunos do <span>Curso Técnico em Ciência de Dados</span> da <span>E.E. Dr Ângelo Mendes de Almeida</span> aprenderam a criar este site, suas múltiplas páginas, a integração com um banco de dados e formulários de cadastro, login e contato usando o Flask em seu desenvolvimento e o consumo de APIs em Python no back-end.</p>

            <p>Todo o projeto foi desenvolvido em sala de aula com a participação dos alunos.</p>
        </section>
        <section id="caixas">
            <article>
                <h2>Um</h2>
            </article>
            <article>
                <h2>Dois</h2>
            </article>
            <article>
                <h2>Três</h2>
            </article>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 1962-2024 - <a href="https://parisotto.net" target="_blank">Parisotto.Net Internet</a></p>
        <p>Website Design by Edson Parisotto</p>
    </footer>

</body>
</html>